@import 'variables';
* {
  /*box-sizing: border-box;*/
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 300;
  background-color: $body_background_color;
}
h2, h3 {
  font-weight: 300;
  margin: 0;
}
h3 {
  font-weight: 400;
}
/*core-drawer-panel {
  background-color: #ccc;
}*/

.core-header-panel  {
  height: 100%;
}

.polyfill-rule {
  content: 'core-header-panel #mainContainer' ;
  left: 45% !important;
}
.core-header-panel[mode="cover"]::shadow #mainContainer {
  width: $core-header-width;
  left: 50%;
  margin-left: calc(-$core-header-width/2);
}

.core-header-panel::shadow #mainContainer::-webkit-scrollbar { 
  display: none; 
}

/*.purple-bg {
  background: $bold_color;
}

.purple {
  color: $bold_color;
}*/

.card_holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.x-card {
  margin: 16px;
}

.paper-fab {
  background-color: $accent_color;
  /*position: relative; */
  position: absolute;
  bottom: -27px;
  right: 1em;
  z-index: 10;
}
.paper-fab.mini {
  bottom: -20px;
}
.x-card.host {
  display: block;
  background: white;
  width: 400px;
  height: auto;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 1px 8px 3px rgba(0, 0, 0, 0.4);
}

@media all and (max-width: 400px) {
  .x-card.host {
    width: 275px;
  }
}

.x-card#hovercard {
  position: fixed;
  bottom: 2em;
  right: 2em;
  margin: 0;
  width: 40px;
  height: 40px;
}
.x-card#hovercard::shadow #cardcontent {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*paper-fab[icon$="gamepad"] {
  background-color: black;
}*/
#hovercard .paper-icon-button::shadow /deep/ path {
  fill: #777;
}

/* Theme ---------------------------------------------------------------------*/
.purple-theme :-webkit-any(core-toolbar, paper-tabs) {
  background: $bold_color;
  fill: white;
}
.purple-theme :-moz-any(core-toolbar, paper-tabs) {
  background: $bold_color;
}
.purple-theme /deep/ core-icon::shadow path {
  fill: white;
}

.purple-theme .heading {
  color: $bold_color;
}

.purple-theme paper-fab {
  background-color: #00acde;
}

.purple-theme paper-button[raisedButton] {
  color: #fff;
  background: $bold_color;
}
.purple-theme paper-button[raisedButton]:hover {
  background: $bold_color;
}

.purple-theme paper-input /deep/ .focusedColor {
  background: $bold_color;
  color: $bold_color;
}

.purple-theme paper-slider::shadow #sliderKnobInner,
.purple-theme paper-slider::shadow #sliderKnobInner::before,
.purple-theme paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: $bold_color;
}

.purple-theme :-webkit-any(paper-checkbox,
                           paper-radio-button)::shadow #ink {
  color: $bold_color;
}
.purple-theme :-moz-any(paper-checkbox,
                        paper-radio-button)::shadow #ink {
  color: $bold_color;
}
.purple-theme :-webkit-any(paper-checkbox[checked],
                           paper-radio-button[checked])::shadow #ink {
  color: grey;
}
.purple-theme :-moz-any(paper-checkbox[checked],
                           paper-radio-button[checked])::shadow #ink {
  color: grey;
}

.purple-theme paper-checkbox::shadow #checkbox.checked {
  border-color: $bold_color;
}
.purple-theme paper-toggle-button::shadow paper-radio-button::shadow #ink {
  color: $bold_color;
}
.purple-theme  paper-toggle-button::shadow #toggleBar[checked] {
  background-color: $bold_color;
}
.purple-theme paper-toggle-button::shadow paper-radio-button[checked]::shadow #ink {
  color: grey;
}
.purple-theme /deep/ paper-radio-button::shadow #onRadio {
  background-color: $bold_color;
}

.purple-theme paper-tabs::shadow #selectionBar {
  background-color: #fff;
}

.purple-theme paper-tabs /deep/ #ink {
  color: #fff;
}

/* -------------------------------------------------------------------------- */

.paper-radio-group paper-radio-button {
  padding-left: 0 !important;
}
.paper-toggle-button {
  vertical-align: middle;
  margin-left: 35px;
}

.paper-input,
.paper-slider,
.paper-progress {
  width: 100%;
}

.paper-input /deep/ .focusedColor {
  background: #009688;
  color: #009688;
}

.paper-button[raisedButton] {
  color: #fff;
  background: #009688;
}

.paper-slider::shadow #sliderKnobInner,
.paper-slider::shadow #sliderKnobInner::before,
.paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #009688;
}

.paper-progress.red::shadow #activeProgress {
  background-color: red;
}

.paper-progress.red::shadow #secondaryProgress {
  background-color: #f8bbd0;
}

.paper-button {
  margin-left: 8px;
}

.paper-tabs, .core-toolbar {
  background-color: #009688;
  color: $white;
}

.paper-tabs {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}
/*paper-tabs paper-tab.core-selected {
  color: red;
}*/

.heading {
  color: #009688;
}

#themetoggle {
  position: fixed;
  bottom: 3em;
  left: 0;
  z-index: 10;
}

@media all and (max-width: 400px) {
  .core-header-panel[mode="cover"]::shadow #mainContainer {
    left: 50%;
    width: 275px;
    margin-left: calc(-275px/2);
  }
  .core-toolbar,
  .x-card h2 {
    font-size: 5vw;
  }
  .x-card img {
    height: 150px !important;
  }
  .purple-theme core-toolbar.tall {
    height: 100px;
  }
  .core-toolbar > * {
    margin: 0 !important;
  }
  .core-toolbar [icon="search"] {
    display: none;
  }
  #themetoggle {
    margin-left: 15px;
    bottom: 15px;
  }
  #hovercard {
    display: none;
  }
  .paper-fab.mini {
    position: absolute;
  }
  .paper-fab {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
}

.paper-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-shadow-top {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.paper-shadow-bottom {
  clear: both;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

button.paper-button {
  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 4px;
}

button.raisedButton {
  box-shadow: 0 2px 3px 1px $dark_grey;
  color: $white;
  background: $bold_color;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: $bold_color;
}

button.raisedButton:active {
  box-shadow: 0 0 1.5px $dark_grey;
}
button.raisedButton:disabled {
  box-shadow: 0 0 0 $dark_grey;
  background-color: $dark_grey;
  cursor: default;
}
button.AnswerSubmitButton {
  margin-left: 80%;
  margin-bottom: 8px;
}
.answerRows {
  margin-left: 4%;
}

.showQuestionCard h3 p {
  font-weight: bold;
  margin-left: 2%;
  padding-top: 8px;
}