$bold_color: rgb(48, 68, 186);
$body_background_color: #f1f1f3;
$accent_color: #e91e63;
$dark_grey: #777;
$white: #FFF;

$baseFontSize: 16;
$bold_dark: rgb(34, 54, 136);

$slideDistance: 100;
$slideDuration: .4s;
